<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TourSSDB" connectionString="Data Source=LUISMDZ-PC\SQLEXPRESS;Initial Catalog=TourSSDB;Integrated Security=True;
         Trusted_Connection=True;" providerName="System.Date.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>